

  <H1 style="background-color: aliceblue;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Inicio de administrador </H1>
    
  <li>
    <a href="mantenedorUsuarios.html">mantenedor de usuarios </a>
  </li>
  </a>
  </li>
  &nbsp;
  <li>
    <a href="mantenedorProducto.html">Mantenedor de productos </a>
    </a>
  </li>
  &nbsp;
  <li>
    <a href="historialVentas.html">Historial de ventas</a>
    </a>
  </li>
  &nbsp;
  <li>
    <a href="mantenedorBodega.html">Mantenedor de bodega </a>
    </a>
  </li>


