<!doctype html>


  <!-- titulo de la pagina -->
  <h1>¡Concursa por una prenda de vestir!</h1>
  <h2>Por compras superiores a $20.000 en productos ya estás participando!</h2>

  <!-- listado de ropa -->
  <div class="cards" id="fila-ropas">
      <div class="card">
          <img src="image/pantalonNegro.jpg" class="imagen">
          <div class="contenido_carta">          
              <p>
                  $8.000
              </p>
              <p>
                  Pantalon de genero
              </p>
                  Color negro            
              </p>        
          </div>
      </div> 
  </div>

